<template name="ourTeam">
    <!-- Our Team Area Starts -->
    <div class="our-team-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center wow fadeInDown">
                        <h2>Our Team</h2>    
                        <p>Learn more about us</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="team-carousel" class="owl-theme owl-carousel team-carousel">
                        <div class="item">
                            <div class="content">
                                <h4 class="title">John Doe</h4>
                                <span class="designation">Founder & CEO</span>
                            </div>
                            <div class="team-img">
                                <img src="img/team-1.png" alt="Team Image">
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <h4 class="title">Agha M</h4>
                                <span class="designation">Idea Manager</span>
                            </div>
                            <div class="team-img">
                                <img src="img/team-2.png" alt="Team Image">
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <h4 class="title">Jane Doe</h4>
                                <span class="designation">Project Planner</span>
                            </div>
                            <div class="team-img">
                                <img src="img/team-3.png" alt="Team Image">
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <h4 class="title">Andrew Smith</h4>
                                <span class="designation">Programmer</span>
                            </div>
                            <div class="team-img">
                                <img src="img/team-4.png" alt="Team Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Team Area Ends -->
</template>