<template name="counter">
      <!-- Counter Area Starts -->
      <div class="counter-area" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="counter-box">
                        <div class="counter-icon"><span class="bi bi-office-bag"></span></div>
                        <div class="counter-content">
                            <span class="digit">100</span><span class="symbol">+</span>
                            <br>
                            <span class="title">Projects Done</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="counter-box">
                        <div class="counter-icon"><span class="bi bi-emo-smile"></span></div>
                        <div class="counter-content">
                            <span class="digit">50</span><span class="symbol">+</span>
                            <br>
                            <span class="title">Happy Clients</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="counter-box">
                        <div class="counter-icon"><span class="bi bi-cup"></span></div>
                        <div class="counter-content">
                            <span class="digit">20</span><span class="symbol">+</span>
                            <br>
                            <span class="title">Awards Win</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="counter-box">
                        <div class="counter-icon"><span class="bi bi-cup-coffee"></span></div>
                        <div class="counter-content">
                            <span class="digit">1000</span><span class="symbol">+</span>
                            <br>
                            <span class="title">Cup Of Coffee</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter Area Ends -->
</template>