<template name="titlebarDetail">

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="ten columns">
                <span><a href="browse-jobs.html">Restaurant / Food Service</a></span>
                <h2>Restaurant Team Member - Crew <span class="full-time">Full-Time</span></h2>
            </div>

            <div class="six columns">
                <a href="#" class="button dark"><i class="fa fa-star"></i> Bookmark This Job</a>
            </div>

        </div>
    </div>

</template>