<!--<template name="recentPosts">-->
    <!--&lt;!&ndash; Recent Posts &ndash;&gt;-->
    <!--<div class="container">-->
        <!--<div class="sixteen columns">-->
            <!--<h3 class="margin-bottom-25">Recent Posts</h3>-->
        <!--</div>-->
        <!--{{#if recentPostLandingPage}}-->
            <!--{{#each recentPostLandingPage}}-->
                <!--<div class="one-third column">-->
                    <!--<div class="recent-post">-->
                        <!--<div class="recent-post-img">-->
                            <!--<a href="/blog/{{this.id}}">-->
                                <!--<img src="{{this.featuredImage}}" alt="">-->
                                <!--<noscript><img src="images/recent-post-01.jpg" alt=""></noscript>-->
                            <!--</a>-->
                            <!--<div class="hover-icon"></div>-->
                        <!--</div>-->
                        <!--<a href="/blog/{{this.id}}"><h4>{{this.title}}</h4></a>-->
                        <!--<div class="meta-tags">-->
                            <!--<span>{{this.date}}</span>-->
                            <!--<span><a href="#">0 Comments</a></span>-->
                        <!--</div>-->
                        <!--<p id="firstColumnContent">-->
                            <!--{{this.content}}-->
                        <!--</p>-->
                        <!--<a href="blog/{{this.id}}" class="button">Read More</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--{{/each}}-->
        <!--{{/if}}-->
    <!--</div>-->
<!--</template>-->