<template name="newsletter">
    <!-- Newsletter Area Starts -->
    <div class="newsletter-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="img-icon-left-box">
                        <div class="img-icon">
                            <img src="img/startup.png" alt="Icon">
                        </div>
                        <div class="icon-content">
                            <h5 class="title">Join With Our Experts</h5>
                            <p>Never miss any news form us. Please join with our experts and grow you business and tak it to
                                the next level.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-offset-2 col-md-4">
                    <div class="row">
                        <div class="newsletter-form">
                            <div class="col-xs-12 col-md-10">
                                <input type="text" class="form-control" placeholder="Your Emali*">
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <button type="submit" class="btn btn-default btn-primary-fill-sqr">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter Area Ends -->
</template>