<template name="keywordResearch">
     <!-- Keywrod Research Area Starts -->
     <div class="keyword-research-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center wow fadeInDown">
                        <h2>Keyword Research</h2>    
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, officia.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="single-img-box">
                        <img src="img/seo-analytics.png" alt="Keyword Research">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="theme-collapse">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse1">
                                        <i class="fa fa-plus"></i>
                                        How to do keyword research?</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure deserunt quod architecto
                                            repellendus laudantium earum blanditiis veritatis quia exercitationem ipsum amet
                                            soluta et fuga, pariatur natus possimus facilis a nihil?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse2">
                                        <i class="fa fa-plus"></i>
                                        How to pick correct keyword?</a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure deserunt quod architecto
                                            repellendus laudantium earum blanditiis veritatis quia exercitationem ipsum amet
                                            soluta et fuga, pariatur natus possimus facilis a nihil?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse3">
                                        <i class="fa fa-plus"></i>
                                        How to know which keyword is trending?</a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure deserunt quod architecto
                                            repellendus laudantium earum blanditiis veritatis quia exercitationem ipsum amet
                                            soluta et fuga, pariatur natus possimus facilis a nihil?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse5">
                                        <i class="fa fa-plus"></i>
                                        How to use keyword picking tools?</a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure deserunt quod architecto
                                            repellendus laudantium earum blanditiis veritatis quia exercitationem ipsum amet
                                            soluta et fuga, pariatur natus possimus facilis a nihil?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse6">
                                        <i class="fa fa-plus"></i>
                                        Is it important to choose paid keyword for faster growth?</a>
                                    </h4>
                                </div>
                                <div id="collapse6" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure deserunt quod architecto
                                            repellendus laudantium earum blanditiis veritatis quia exercitationem ipsum amet
                                            soluta et fuga, pariatur natus possimus facilis a nihil?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse7">
                                        <i class="fa fa-plus"></i>
                                        How to know which keyword is not good for me?</a>
                                    </h4>
                                </div>
                                <div id="collapse7" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure deserunt quod architecto
                                            repellendus laudantium earum blanditiis veritatis quia exercitationem ipsum amet
                                            soluta et fuga, pariatur natus possimus facilis a nihil?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse8">
                                        <i class="fa fa-plus"></i>
                                        How to use keyword planner?</a>
                                    </h4>
                                </div>
                                <div id="collapse8" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure deserunt quod architecto
                                            repellendus laudantium earum blanditiis veritatis quia exercitationem ipsum amet
                                            soluta et fuga, pariatur natus possimus facilis a nihil?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Keywrod Research Area Ends -->
</template>