<template name="copyright">
    <!-- Copyright Area Starts -->
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="left">
                        <span> &copy; 2017. All Right Reserved. </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="right">
                        <span>Designed By: <a href="http://fimo.edu.vn" target="_blank">FIMO</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright Area Ends -->
</template>