<template name="hireUs">
     <!-- Hire us Area Starts -->
     <div class="hireus-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="content-box">
                        <h2 class="title">Hire Us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        <p>Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            velit esse.</p>
                        <div class="gap-20"></div>
                        <a href="#" class="btn btn-default btn-default-fill-sqr">Learn More</a>
                        <a href="#" class="btn btn-default btn-primary-fill-sqr">Hire Us</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-offset-2 col-md-4">
                    <div class="single-img-box">
                        <img src="img/seohire.png" alt="Hire Us">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hire us Area Ends -->
</template>