<template name="whoWeAre">
    <div class="our-motto-area area-padding" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center wow fadeInDown">
                        <h2>Who we are?</h2>    
                        <p>Learn more about us</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="icon-box">
                        <div class="icon-left"><img src="img/about/email-marketing.svg" alt=""></div>
                        <div class="icon-content">
                            <h4 class="title">Web Analytics</h4>
                            <p>This is the demo content for the website. You can add your website content here.</p>
                            <div class="icon-button">
                            <a href="#">Learn More</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="icon-box">
                        <div class="icon-left"><img src="img/about/seo-optimisation.svg" alt=""></div>
                        <div class="icon-content">
                            <h4 class="title">Digital Marketing</h4>
                            <p>This is the demo content for the website. You can add your website content here.</p>
                            <div class="icon-button">
                            <a href="#">Learn More</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="icon-box">
                        <div class="icon-left"><img src="img/about/social-marketing.svg" alt=""></div>
                        <div class="icon-content">
                            <h4 class="title">Website Optimization</h4>
                            <p>This is the demo content for the website. You can add your website content here.</p>
                            <div class="icon-button">
                            <a href="#">Learn More</a>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</template>