<template name="banner">
    <!-- Banner
    ================================================== -->
    <div id="banner" class="with-transparent-header parallax background"
         style="background-image: url(images/banner-home-02.jpg)" data-img-width="2000" data-img-height="1330"
         data-diff="300">
        <div class="container">
            <div class="sixteen columns">
                <div class="search-container">
                    <!-- Form -->
                    <h2>Xin Chào {{currentUser.profile.full_name}} </h2>
                    <div class="browse-jobs">
                        <!--Browse job offers by <a href="browse-categories.html"> category</a> or <a href="#">location</a>-->
                    </div>
                    <!-- Announce -->
                    <div class="announce">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>