<template name="services">
       <!-- Services Area Starts -->
       <div class="services-area area-padding" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center wow fadeInDown">
                        <h2>Services</h2>    
                        <p>Curabitur arcu erat, accumsan id imperdiet</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="icon-box">
                        <div class="icon-left"><img src="img/services/1.png" alt=""></div>
                        <div class="icon-content">
                            <h4 class="title">Website Optimization</h4>
                            <p>This is the demo content for the website. You can add your website content here.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="icon-box">
                        <div class="icon-left"><img src="img/services/2.png" alt=""></div>
                        <div class="icon-content">
                            <h4 class="title">Online Marketing</h4>
                            <p>This is the demo content for the website. You can add your website content here.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="icon-box">
                        <div class="icon-left"><img src="img/services/3.png" alt=""></div>
                        <div class="icon-content">
                            <h4 class="title">Pay Per Click</h4>
                            <p>This is the demo content for the website. You can add your website content here.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hidden-xs">
                <div class="col-xs-12">
                    <div class="gap-30"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="icon-box">
                        <div class="icon-left"><img src="img/services/4.png" alt=""></div>
                        <div class="icon-content">
                            <h4 class="title">Content Strategy</h4>
                            <p>This is the demo content for the website. You can add your website content here.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="icon-box">
                        <div class="icon-left"><img src="img/services/5.png" alt=""></div>
                        <div class="icon-content">
                            <h4 class="title">Email Marketing</h4>
                            <p>This is the demo content for the website. You can add your website content here.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="icon-box">
                        <div class="icon-left"><img src="img/services/6.png" alt=""></div>
                        <div class="icon-content">
                            <h4 class="title">Sales Promotion</h4>
                            <p>This is the demo content for the website. You can add your website content here.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Area Ends -->
</template>