<template name="pricing">
       <!-- Pricing Section -->
       <section id="pricing">
        <div class="container">
            <div class="section-title text-center wow fadeInUp">
                <h2>Pricing</h2>    
                <p>Find the right plan for you</p>
            </div>
            <div class="price-table-3">
                <div class="row">
                    <div class="col-md-4">
                        <div class="price-table price-blue">
                            <ul>
                                <li>
                                    <img src="img/price/price1.svg" class="price-icon" alt="">
                                    <br>
                                    <h2>Free</h2>
                                </li>
                                <li>1 Domian Free</li>
                                <li>Unlimited Traffic</li>
                                <li>SEO Marketing</li>
                                <li>Email Support</li>
                                <li>Social Marketing</li>
                                <li>
                                    <h3>$0 <sup>monthly</sup></h3>
                                </li>
                                <li>
                                    <button class="btn btn-primary">Join Now</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-table table-active">
                            <ul>
                                <li>
                                    <img src="img/price/price2.svg" class="price-icon" alt="">
                                    <br>
                                    <h2>Pro</h2>
                                </li>
                                <li>10 Domain Free</li>
                                <li>SEO Marketing</li>
                                <li>Email Support</li>
                                <li>Social Marketing</li>
                                <li>Analysis & Reports</li>
                                <li>
                                    <h3>$99 <sup>monthly</sup></h3>
                                </li>
                                <li>
                                    <button class="btn btn-primary">Join Now</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-table price-green">
                            <ul>
                                <li>
                                    <img src="img/price/price3.svg" class="price-icon" alt="">
                                    <br>
                                    <h2>Ultimate</h2>
                                </li>
                                <li>100 Domain</li>
                                <li>SEO Marketing</li>
                                <li>Email Support</li>
                                <li>Social Marketing</li>
                                <li>Analysis & Reports</li>
                                <li>
                                    <h3>$199 <sup>monthly</sup></h3>
                                </li>
                                <li>
                                    <button class="btn btn-primary">Join Now</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Pricing section -->
</template>